.nav .breadcrumb {
    margin: 0 7px;
}

@media (min-width: 768px) {
    .nav .breadcrumb {
        float: left;
        margin: 7px 10px;
    }
}

.element-title {
	font-size: 16px;
}

div.taglist-container {
    line-height: 200%;
    text-align: center;
}

span.modal-nav {
    font-size: 1.3em;
    margin: 0px 5px 0px 5px;
}

.navbar-margin {
    margin-top: 70px;
}

.element-container {
	margin-top: 70px;
}

.element-tag-container > * {
	margin: 2px;
}

.element-header {
	font-size: 18px;
	color: #000;
}

.element {
	padding: 0px 5px;
}

.header-btn {
    width:100%;
	padding: 5px;
 	border:0px solid transparent; /* this was 1px earlier */
 	background-color: rgb(245, 245, 245);
}

li.info-row { padding: 8px 0px 8px 0px; }
li.info-row:nth-child(odd) { background: #f9f9f9; }
li.info-row > div:first-child { 
	font-size: 14px; 
	font-weight: bold;
}

.header-btn h4 {
	margin: 2px;
}

.info-container-table th {
	width: 15%;
}

.sub-panel {
	padding: 0px;
}

.panel {
	margin-bottom: 10px;
}

.panel-heading {
	padding: 5px 15px;
}

.element .panel-heading {
	padding: 5px 5px;
}

.modal-footer {
	text-align: center;
}

.modal-control-panel {
    float: right;
}

.thumbnail-container {
	padding: 15px;
}

.citations-container td:last-child {
	width: 15%;
}

.files-container-table th {
	width: 15%;
}

.file-element-filelist-size-target {
	margin-left: 20px;
}
.file-element-filelist-copy-target {
	margin-left: 20px;
}

.thumbnail {
	margin-bottom: 0px;
	border: 0px;
}

.thumbnail-preview {
	padding: 5px;
}

.table {
	margin-bottom: 0px;
}

/* Fix to enable crop on td */
td.crop {
	max-width: 0;
}

.crop { 
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}​

.sort {
  padding:8px 30px;
  border-radius: 6px;
  border:none;
  display:inline-block;
  color:#000;
  text-decoration: none;
  background-color: #28a8e0;
  height:30px;
}
.sort:after {
  display:inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  content:"";
  position: relative;
  top:-10px;
  right:-5px;
}
.sort.asc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000;
  content:"";
  position: relative;
  top:4px;
  right:-5px;
}
.sort.desc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #000;
  content:"";
  position: relative;
  top:-4px;
  right:-5px;
}